.layout {
    position: relative;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.87);
    background-color: #8585853f;
    backdrop-filter: blur(20px);
    z-index: 10;
    border-bottom: 1px solid rgba(24, 24, 24, 0.582);
}

.header h1 {
    font-size: 2rem;
}

.user-greeting {
    text-align: end;
    width: min-content;
    margin-left: auto;
}

.user-greeting div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-greeting p {
    display: inline-block;
    width: max-content;
}

.user-greeting button {
    width: max-content;
}

main {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
}