.user-greeting {
    text-align: end;
    width: min-content;
    margin-left: auto;
}

.user-greeting div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-greeting p {
    display: inline-block;
    width: max-content;
}

.user-greeting button {
    width: max-content;
}