.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border: 1px solid rgb(198, 198, 198);
    background-color: #444444;
}

.table th, .table td {
    border: 1px solid;
    padding: 8px 25px;
}