.movie-predictions {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 15px;
    padding: 15px 25px;
    background-color: #444444;
}