.movie-result {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.movie-result:hover {
    background-color: rgba(68, 103, 145, 0.2);
}

img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}
  