hr {
  margin-top: 5rem;
}

input {
  margin-right: 1rem;
  padding: 0.5rem;
}

.search-inputs {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}